<ion-view view-title="Browse">
  <ion-content>
    <h1></h1>

    <div class="list card">

	  <div class="item">
	    <h2>{{suggested[0].name}}</h2>
	    <p ng-show="suggested[0].location"><i class="icon ion-android-pin"></i> {{suggested[0].location}}</p>
	  </div>

	  <div class="item item-body">
	    <img ng-src="{{suggested[0].profile_image_url.replace('_normal','')}}" class="full-image" />
	    <p>
	      {{suggested[0].description}}
	    </p>
	    <p>
	      <a href="#" class="subdued">{{suggested[0].followers_count}} Followers</a>
	      <a href="#" class="subdued">{{suggested[0].friends_count}} Friends</a>
	    </p>
	  </div>

	  <div class="item tabs tabs-secondary tabs-icon-left">
	    <a class="tab-item" href="#">
	      <i class="icon ion-android-favorite"></i>
	      Favorite
	    </a>
	    <a class="tab-item" href="#">
	      <i class="icon ion-social-twitter"></i>
	      Follow
	    </a>
	    <a class="tab-item" href="#">
	      <i class="icon ion-ios-fastforward"></i>
	      Next
	    </a>
	  </div>

	</div>


  </ion-content>
</ion-view>
